
.home_open_tag {
    font-family: 'Poppins', sans-serif;
    font-size:50px;
    color: rgb(89, 89, 89);
    position: relative;


}


.home_slash {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    position: relative;
    color: rgb(89, 89, 89);


}

.home_close_tag {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: rgb(89, 89, 89);
    position: relative;


}



.home_logo {
    width: 80px;
    float:left;
    margin-top: -2px;
}
