.panel_out{
  width: 100vw;
  height: 90vh;
  display: flex;
}

.langtitle, #out {
    display: block;
}

#out{
    flex-grow:1;
    top: 68px;
    height: 92.5vh !important;
    width: 100% !important;
    border-radius: 3px;
    background:white;
    border:none;

}

.panels {
    flex-grow: 1;
}


.save_button {
    position: absolute;
    bottom: 94vh;
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
    border: 1px solid white !important;
    float: right;
    left: 75vw;
    background-color:transparent;
}

.save_icon {
    width: 17px;
    height: 17px;
    position: relative;
    bottom: 2px;
    text-align: center !important;
    position: relative;
    z-index: 50;
}

.save_button:hover {
    transform: scale(1.10);

}

.save_button:focus {
    outline: none;
    box-shadow: none;
    border:none;
    transform: scale(1);
}


.user_button {
    left: 85vw;

}
