
.carousel {
    position: relative;
    left: 16vw;
    top: 15vh;
}



.item {

    height: 500px;
    width: 1000px;
}


.slides {
    left: 12vw;
    top: 15vh;
    height: 500px;
    width: 1000px;
}

#prevIcon{
    color: rgb(94, 163, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    left: -20px;
    bottom: 15px;
}

#nextIcon{
    color: rgb(94, 163, 224);
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    left: 20px;
    bottom: 15px;
}

.features-title{
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    position: relative;
    color:rgb(83, 163, 232);
    top: 60px;
    left: 170px;
}