

.sign-in {
    position: relative;
    width: 450px;
    min-height: 600px;
    background: rgb(244,244,244);


}

.sign-in-title {
    font-size: 30px;
    font-weight: 200;
    color: rgb(68,68,68);
    position: relative;
    top: 80px;
    text-align: center;

}

.home-button.sign-in-button{

    position: relative;
    top: 130px;
    margin: 20px auto;
    margin-top: 30px;

    color: white;
    font-weight: 300;
    width: 270px;
    background: rgb(49, 144, 194);
    height: 50px;
    border-radius:0;



}

.home-button.sign-in-button:hover {

    background: rgb(58, 165, 223)!important;
    color:white !important;
}

.home-button.sign-in-button.google{
    color: rgb(45, 153, 211) !important;

    height: 50px;
    background: rgb(255, 255, 255);
    font-size: 20px;


}



.pwd-icon {
    width: 45px;
    height: 40px;
    position: absolute;
    left: 37px;
    top: 37vh;
}

.log-in-option {
    position: absolute;
    bottom: 40px;
    font-size: 20px;
color: rgb(84,84,84);
    text-align: center;
    width: 100%;
    font-weight: 300;


}

.here{
    text-decoration: underline;
    color: rgb(89, 146, 216);
    cursor: pointer;
}

.here:hover{
    color: rgb(70, 117, 174);
}