

.profilepage{
    width: 100vw;
    overflow-x:hidden;



}
.home-nav{
    position: absolute;
    z-index: 50;
}

.new-project-button{
    width: 500px;
    position: relative;
    margin: auto;
    border-radius: 5px;

    height: 40px;
    font-weight: 200;
    border: none;
    display: block;
    background: linear-gradient(to right,rgb(54, 125, 213),rgb(44, 165, 199));
    color: white;
    font-size: 20px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 15.8px 33.4px rgba(0, 0, 0, 0.086)
  ;
}

.new-project-button:hover {
    transform: scale(1.01);
}

.new-project-button:focus {
    border: none;
    outline: none;
}

.profile-projects{
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    margin: auto;
    position: relative;
    padding-bottom: 60px;
    height: auto;
    min-height: 550px;


}

.loader {
    position: relative;

    left: 48vw !important;
}

.loading-page{
    position: absolute;
    background-color: transparent;
    height:50vh;
    width: 100vw;
    top: -10rem;
    overflow: hidden;

}


.no-project-text{
    position: relative;
    margin:auto;
    top: 50px;

}


.profile-hr {

  margin-top: 2rem;
}
.display-name{
    background: linear-gradient(to right,rgb(31, 114, 215),rgb(44, 189, 199));
    height: 210px;
    width: 100%;
    position: relative;
    font-weight: 200;
    font-size: 30px;
    float: left;
    color:rgb(255, 255, 255);
    top: 50px;
    margin-bottom: 5rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 15.8px 33.4px rgba(0, 0, 0, 0.086)
  ;
}
.user-character {

    border: 2px solid rgb(254, 254, 254);
    border-radius: 80px;
    bottom: 40px;
    margin-right: 3vw;
    margin-left: 10vw;
    width: 150px;
    height: 150px;
    margin-top: 20px;

}



#plus {
    position: relative;
    bottom: 22px;

}

.name-text {
    margin-top: 50px;
    margin-left: 50px;
}

.search-nav {

       width: 80vw;
       position: relative;
       margin: 30px auto 50px auto;
       height: 50px;

}

#search-nav-title {

    position: relative;
    font-size: 30px;
    font-weight: 200;
    padding-left: 30px;

}

.profile-title {
    position: relative;
    top: -3px;

}

h2{
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

@media(min-width:992px) {
    .user-character{
        float:left;
    }
}
@media (max-width:991px) {

    .user-character {
        margin: 15px auto 0 auto ;
        display:block;


    }

    .display-name{
        height: 280px;
        text-align: center;
    }
    .name-text {
        margin-top: 15px;
        margin-left: 0;
    }

}


    @media (max-width: 600px) {
        .display-name{
            height: 250px;
        }
        .user-character {
            width: 130px;
            height: 130px;
        }



        .name{
            font-size: 25px;
            margin-bottom: 0px;
        }

        .update-text {
            font-size: 20px;
        }

        .new-project-button{
            width: 85vw;
        }
    }

    @media (max-width: 350px) {

        .user-character {
            width: 120px;
            height: 120px;
        }
        .update-text {
            font-size: 16px;
        }
        .name{
            font-size: 20px;
            margin-bottom: -5px;
        }
        .display-name {
            height: 230px;
        }

    }