


.export-button:hover {
    transform: scale(1.01);

}

.export-button {
    max-width: 35px;
    height: 35px;

}

@media (min-width: 992px){
    .text {
        display:none;
    }

}


@media (max-width: 991px){
    .export-button, .tooltips, .save_button{
        display: none !important;
    }

    .text {
        position: relative;
        margin-bottom: -20px !important;
        padding-bottom: -20px !important;
        color: rgb(63, 63, 63);



    }



}

.export-button:focus {
    transform: scale(1.10);
    border: none;
    outline: none;
    box-shadow: none;
}

.export{
    margin:auto;



}






