.export-icon {
    width: 17px;
    height: 17px;
    position: relative;
    bottom: 2px;
    text-align: center !important;
    position: relative;
    z-index: 5;
}

.export-button:hover {
    transform: scale(1.10);

}

.export-button {
    position: absolute;
    bottom: 94vh;
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
    border: 1px solid white !important;
    float: right;
    left: 80vw;
    background-color:transparent;
}



.export-button:focus {
    transform: scale(1.10);
    border: none;
    outline: none;
    box-shadow: none;
}