.display-button.hide {
    color: #343434;
    transform:scale(0.95);
    /*color: #343434;*/
    /*opacity: 50%;*/
    display: inline-block !important;
    border: none;



}
.display-button.show {
    /*border: 1px solid white;*/
    color:#ffffff;
    border-radius: 30px !important;
}


.display-button:hover {
    border-radius: 30px !important;
    transform: scale(1.03);

}
.display-button {
    font-size: 20px !important;
    border-radius: 0px;
    height: 40px;
    width: 150px;
    background-color: Transparent;
    outline: none !important;
    border: none;
    cursor:pointer;
    /*font-family: 'Abel', sans-serif;*/
    margin-right: 50px !important;
    font-weight: 300 !important;

}

.display_buttons {
    position: relative;
    left: 360px;
}