button.hide {
    color: #343434;

    display: inline-block !important;
}
button.show {
    color:#ffffff;

}


button:hover {
    transform: scale(1.05);
    font-weight: 300;
}
button {
    font-size: 22px !important;
    border-radius: 0px;
    height: 40px;
    width: 150px;
    background-color: Transparent;
    outline: none !important;
    border: none;
    cursor:pointer;
    font-weight: 300 !important;
    font-family: 'Roboto Condensed', sans-serif !important;

}