.home {
    height: 800px;
    overflow-y:scroll;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}


.home-demo{
    background-color: rgba(255, 255, 255, 0.212);
    padding-left: 15px;
    min-height: 700px;
    margin-left: -6vw !important;
    margin-right: -6vw !important;
    height: auto;
}

.home-nav{
    position: absolute;
    z-index: 50;
}
.home_open_tag {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    position: relative;
    bottom: 6px;
    color: rgb(83, 163, 232);
    float: left;
}

.home_slash {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 55px;
    position: relative;
    left: 2px;
    float: left;
    color: rgb(83, 163, 232);
}

.home_close_tag{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    position: relative;
    bottom: 6px;
    left: 6px;
    color: rgb(83, 163, 232);
}

.home_title {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    position: relative;
    margin: 20px;
    color:rgb(83, 163, 232);
}


.title {
    top: 15px;
    position: relative;

}

.signin {
    position: relative;
    z-index: 10;
    top: 80px;
    margin: auto;
}


.subtitle {
    color: rgb(84, 79, 79);
    position: relative;
    font-size: 30px;
    margin: auto;
    font-weight: 200;
    padding-left: 25px;
}



.home-button {
    display: block;
    font-weight: 200;
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin: 20px auto;

    color: white;
    background-color: rgba(94, 163, 224, 0.85);
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: none;
}


.home-button:hover {
    background-color: rgb(83, 163, 232);

}





.guest-button{
    background-color: rgb(255,255,255, 85%);
    border: none;
    display: block;
    width: 300px;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color:rgb(94, 163, 224);

}

.guest-button:hover{
    background-color: rgb(255,255,255);
    border: none;
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    outline:none;
}




.home-button:focus {
    outline: none;
}



.guest-button:focus{
    outline:none;
}


.left {
    position: relative;
    height: 600px;
    min-width: 500px;
    max-width: 900px;
    margin: auto;

}

.right {
    position: relative;
    height: 750px;
    margin: auto;
    top: 50px;
    text-align: center;
    min-width: 400px !important;

}


.about {
    position: relative;
    background-color: rgba(255, 255, 255, 0.493);
    margin-left: -6vw !important;
    margin-right: -6vw !important;
    padding: 50px 50px 100px 50px;
}

.about-text {
    color: rgb(84, 79, 79);
    position: relative;
    font-size: 30px;
    font-weight: 200;
    padding: 0 30px;
    min-width: 350px;

}


.about_title {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    position: relative;
    color:rgb(83, 163, 232);
    left: 60px;

}

.face {
    position: relative;
    border: 4px solid rgb(91, 161, 223);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: 30px;

}

.feature {
    position: relative;
    height: auto;
    background-color: rgba(180, 180, 180, 0.2);
    margin-left: -6vw !important;
    margin-right: -6vw !important;
    overflow: hidden;
    padding: 30px 0;
}



.footer {
    min-height: 230px;
    overflow:hidden;
    position: relative;
    background-color:rgb(143, 203, 255, 80%);/* rgb(143, 203, 255);*/
    margin-left: -6vw !important;
    margin-right: -6vw !important;
}


.footer_open_tag {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    color: white;
    position: relative;
    left: 30px;
    top: 40px;
    font-weight: 300;
}


.footer_slash {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    position: relative;
    color:white;
    left: 1px;
    top: 40px;
    font-weight: 300;
}

.footer_close_tag {
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    color: white;
    position: relative;
    top: 40px;
    font-weight: 300;
}


ul{
    list-style-type: none;
    position: relative;
    top: 50px;
    height: 120px;
    margin: 0 50px;
}

.footer li a{
    color:rgb(92, 92, 92) !important;
}
.footer-title{
    font-size: 23px;
    color: white;
    font-weight: 400;
}

.nav-link li{
    display: inline-block;
    margin: 0 50px;

}

.nav-link li a{
    color: white !important;
    font-size: 25px;
    font-weight: 200;
}

.nav-link li a:hover{
    text-decoration: none;
    color: #212121 !important;

}

.nav-link{
    height: 5px;
    width: 70vw;
    position: absolute;
    z-index: 60;
    top: -50px;

}

.footer-icon {
    width: 40px;
    height: 40px;
    position: relative;
    float: right;
    top: 90px;
    margin: 0 20px;
}

.contact-button{
    font-size: 20px;
    font-weight: 300;
    position: relative;
    color: white;
    background-color: #5ba1df;
    padding: 15px 20px;
    border-radius: 7px;
    top: 80px;

}


.contact-button:hover{
    text-decoration: none;
    color: rgb(91, 161, 223);
    background-color: white;

}

.diva{
    font-weight: 300;
    font-size: 25px;

    position: relative;
    color: rgb(91, 161, 223);
    background-color: rgb(255,255,255,70%);
    width: 250px;
    text-align: center;
    border: 1.5px solid rgb(91, 161, 223);
    margin: 20px 0 50px;
    top: 30px;

}

.about-left{
    position: relative;
    height: auto;
    max-width: 280px !important;
    min-width: 280px;
    margin:auto;
}


.about-right {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    min-width: 300px;
    max-width: 740px;


}