.home {
    width: 100%;
    height: 100vh;
    /*background: linear-gradient(#000000, #2c1378 90%);*/
    /*background: linear-gradient(#181818, #7f58cd 170%);*/

}

.home_open_tag {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    position: relative;
    bottom: 6px;
    color: rgb(83, 163, 232);
    float: left;
}

.home_slash {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 55px;
    position: relative;
    left: 2px;
    float: left;
    color: rgb(83, 163, 232);
}

.home_close_tag{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    position: relative;
    bottom: 6px;
    left: 6px;
    color: rgb(83, 163, 232);
}

.home_title {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    position: relative;
    top: 20px;
    left: 30px;
    color:rgb(83, 163, 232)
}


.title {
    left: 20px;
    top: 15px;
    position: absolute;

}

.sign-in {
    position: absolute;
    z-index: 10;
    top: 300px;
    left: 60px;

}

.home-panel{
    display: none;
    position: absolute;
    top: 12vh;
    height: 80vh;
    width: 80vw;
    background-color:white;
    border-radius: 5px;
    opacity: 25%;
    -moz-opacity: 0.5; /* Firefox and Mozilla browsers */
   -webkit-opacity: 0.5;
    border: 10px solid white;
}

.subtitle {
    color: rgb(84, 79, 79);
    position: absolute;
    font-size: 30px;
    top: 80px;
    left: 30px;
    font-weight: 200;
    width: 500px;

}

.slideshow {
    float: right;
    width: 40vw;
    height: 80vh;
    left: 42px;
    position: relative;
    border-radius: 0px 20px 20px 0px;
}




.home-button {
    display: block;
    font-weight: 200;
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin: 30px 60px;
    color: white;
    background-color: rgba(94, 163, 224, 0.75);
    /*background-color:#af8dff;*/
    border-radius: 5px;
    border: none;
}


.home-button:hover {
    background-color: rgb(83, 163, 232);

    /*background:linear-gradient(to left,#af8dff,#a679ff, #af8dff);*/
}


.guest-button{
    background-color: rgb(255,255,255, 75%);
    border: none;
    display: block;
    width: 300px;
    height: 50px;
    margin: 30px 60px;
    border-radius: 5px;

}

.guest-button:hover{
    background-color: rgb(255,255,255);
    border: none;
    display: block;
    width: 300px;
    height: 50px;
    margin: 30px 60px;
    border-radius: 5px;

}

.guest-button a {
    color:rgb(83, 163, 232);
    font-size: 18px;
    font-weight: 300;
}



.home-button:focus {
    outline: none;
}

.home-button:focus:after {
    outline: none;
    transform: scale(1.00);
}

.guest-button a:hover{
    outline:none;
    background-color:(rgb(255,255,255,70%));
    text-decoration: none !important;
}

.guest-button:hover{
    outline:none;
    background-color:(rgb(255,255,255,70%));
    text-decoration: none !important;
}

.guest-button:focus{
    outline:none;
}


.left {
    position: absolute;
    width: 40vw;
    height: 80vh;
    top: 12vh;
    background-color: transparent;
    border-radius: 10px 0px 0px 10px;

}
/*
.left:hover {
    background-color:rgb(255,255,255,20%);

}*/