.home {
    height: 100vh;
    overflow-y:scroll;

}

.home-demo{
    background-color: rgba(255, 255, 255, 0.212);
    width: 100vw !important;
    height: 100vh !important;
    position: relative;
    left: 15px;
}

.home-nav{
    position: absolute;
    z-index: 50;
}
.home_open_tag {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    position: relative;
    bottom: 6px;
    color: rgb(83, 163, 232);
    float: left;
}

.home_slash {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 55px;
    position: relative;
    left: 2px;
    float: left;
    color: rgb(83, 163, 232);
}

.home_close_tag{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    position: relative;
    bottom: 6px;
    left: 6px;
    color: rgb(83, 163, 232);
}

.home_title {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    position: relative;
    top: 20px;
    left: 30px;
    color:rgb(83, 163, 232)
}


.title {
    left: 20px;
    top: 15px;
    position: absolute;

}

.signin {
    position: absolute;
    z-index: 10;
    top: 320px;
    left: 45px;
}


.subtitle {
    color: rgb(84, 79, 79);
    position: absolute;
    font-size: 30px;
    top: 80px;
    left: 30px;
    font-weight: 200;
    width: 500px;

}



.home-button {
    display: block;
    font-weight: 200;
    font-size: 20px;
    width: 300px;
    height: 50px;
    margin: 15px 60px;
    color: white;
    background-color: rgba(94, 163, 224, 0.85);
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    border: none;
}


.home-button:hover {
    background-color: rgb(83, 163, 232);

}





.guest-button{
    background-color: rgb(255,255,255, 85%);
    border: none;
    display: block;
    width: 300px;
    height: 50px;
    margin: 15px 60px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color:rgb(94, 163, 224);

}

.guest-button:hover{
    background-color: rgb(255,255,255);
    border: none;
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    outline:none;
}




.home-button:focus {
    outline: none;
}



.guest-button:focus{
    outline:none;
}


.left {
    position: relative;
    width: 40vw;
    height: 80vh;
    top: 12vh;
    background-color:transparent;
    border-radius: 10px 0px 0px 10px;
    left: 130px;

}

.right {
    position: relative;
    float:right !important;
    left: 200px;
    top: 50px;
}


.about {
    width: 100vw !important;
    height: 80vh;
    position: relative;
    background-color: rgba(255, 255, 255, 0.493);
    left: 15px;
}

.about-text {
    color: rgb(84, 79, 79);
    position: absolute;
    font-size: 30px;
    top: 50px;
    margin-top: 40px;
    left: 30vw;
    font-weight: 200;
    width: 60vw;
}


.about_title {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    position: relative;
    color:rgb(83, 163, 232);

}

.face {
    position: relative;
    float: left;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 50%;
    margin-top: 140px;
    margin-left: 100px;
    width: 250px;
    height: 250px;
}

.feature {
    position: relative;
    width: 100vw !important;
    height: 110vh;
    left: 15px;
}