.search {
  -webkit-appearance: none;
  border:2px solid rgb(83, 163, 232);
  outline: none;
  padding: 10px;
  float: right;
  position: absolute;
  right: 20px;

  width: 400px;
  border-radius: 5px;
  height: 38px;
  font-size: 15px;

  font-weight: 200;
}


