.sign-in-page {
    position: relative;
    right: 30vw;
    top: 50px;
}

.sign-in-nav-link li{
    display: inline-block;
    margin: 0 30px;


}

.sign-in-nav-link li a{
    color: white !important;
    font-size: 25px;
    font-weight: 200;
}

.sign-in-nav-link li a:hover{
    text-decoration: none;
    color: #212121 !important;

}

.sign-in-nav-link{
    height: 5px;
    width: 60vw;
    position: absolute;
    z-index: 80;
    left: 80px;
    top: 5px;
}


@media ()