.sign-in.sign-up {

  border-radius: 10px;
  background: linear-gradient(to bottom right ,rgb(44, 189, 199), rgba(43, 127, 228));
  margin:auto;
  width: 450px;
  position: relative;

}

.sign-up-title {
  font-size: 30px;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;

  color: white;
  position: relative;
  top: 40px;
  text-align: center;
  padding: 0 50px;
}
.sign-up-form{
  position: relative;
  top: -70px;
  width: 100%;
}

.home-button.sign-up-button{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  position: relative;
  top: 150px;
  margin: auto;
  margin-top: 30px;
  border-radius: 30px;
  background-color: white;
  color: rgba(94, 163, 224);
  border: 1px solid rgba(94, 163, 224);
  background-color:white;
  color: #5ea3e0;
  width: 270px;

}


.home-button.sign-up-button:hover{
  background-color:#5ea3e0;
  color: white;
  border: 1px solid white;
}


