.project-list {
    position: relative;
    width: 80vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px 10px;
    bottom: 230px;
    left: 5px;

  }

  .delete-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 0;
    background-color: rgb(83, 163, 232);
    color: white;
    position: relative;
    top: 32px;
    z-index: 20;
    left: 60px;

  }

  #subtract {
    position: relative;
    bottom: 12px;
  }

  .delete-button:focus{
    outline: none;
    box-shadow: none;
  }

  .delete-button:hover{
    outline: none;
    box-shadow: none;
    transform: scale(1.10);
  }
