.navbar {
    position: relative;
    background-color: rgb(83, 163, 232);
    height: 50px;
    width: 100vw;
}

.logo {
    position: relative;
    right: 6px;


}

.logo:hover{
    transform: scale(1.05);
}

.logo_open_tag {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 300 !important;
    color:white;
    position: relative;
    left: 3px;
}

.project_title {
    position: absolute;
    color: white !important;
    font-size: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 5px;
    background-color: transparent !important;
    width: 160px !important;
    font-weight: 300 !important;
    height: 37px !important;
    padding: 8px !important;
    left: 60px;
}


.project_title::placeholder {
    color: rgb(46, 46, 46) !important;
    font-size: 20px !important;
    font-weight: 300 !important;

}


.project_title:hover {
    border: 1px solid rgb(255, 255, 255, 20%) !important;
    border-radius: 5px;

}

.project_title:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid rgb(255, 255, 255, 20%) !important;

}


.logo_slash {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    position: relative;
    right: 4px;
    color:white;
}

.logo_close_tag {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color:white;
    position: relative;
    right: 4px;

}



