$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative;
  top: 120px;
  left: 6vw;
  margin: 25px;

  .sign-in-icon {
    width: 40px;
    height: 40px;
    z-index: 20;
    position: absolute;
    left: -60px;
    top: 4px;
  }

  .form-input {
    background: none;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 23vw;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid $sub-color;
    margin: 10px 0px;
    font-family: 'Raleway', sans-serif;


    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: rgb(101, 101, 101);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
    font-family: 'Raleway', sans-serif;

    &.shrink {
      @include shrinkLabel();
    }
  }
}


